*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Poppins,sans-serif;
background:#0a0a16;
color:white;
overflow:hidden;
}



/* BACKGROUND */

canvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}



/* NAVBAR */

.navbar{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 6%;
background:rgba(0,0,0,0.45);
backdrop-filter:blur(10px);
z-index:100;
}

.logo{
font-size:22px;
letter-spacing:4px;
font-weight:600;
}

.navbar ul{
display:flex;
list-style:none;
gap:30px;
}

.navbar li{
cursor:pointer;
transition:0.3s;
}

.navbar li:hover{
color:#00ffff;
}



/* CONTAINER */

.container{
display:flex;
width:500vw;
height:100vh;
transition:transform 0.8s ease;
}



/* PANELS */

.panel{
width:100vw;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding-top:80px;
padding-left:20px;
padding-right:20px;
}



/* TITLE */

.title{
font-size:clamp(55px,9vw,100px);
letter-spacing:10px;
background:linear-gradient(45deg,#00ffff,#ff00ff);
-webkit-background-clip:text;
color:transparent;
}

.subtitle{
margin-top:10px;
opacity:0.85;
}



/* ABOUT */

.about-panel{
justify-content:flex-start;
padding-top:120px;
}

.about-container{
max-width:1100px;
width:100%;
}

.profile-header{
max-width:700px;
margin:auto;
margin-bottom:40px;
}

.profile-name{
font-size:36px;
color:#00ffff;
margin-bottom:10px;
}

.profile-role{
font-size:18px;
margin-bottom:10px;
}

.profile-description{
line-height:1.7;
}



/* ABOUT GRID */

.about-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
gap:20px;
}

.about-card{
background:rgba(255,255,255,0.05);
padding:25px;
border-radius:15px;
text-align:left;
}

.about-card h3{
color:#00ffff;
margin-bottom:10px;
}



/* SKILLS */

.skills{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(130px,1fr));
gap:20px;
max-width:600px;
width:100%;
}

.skill{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:10px;
}

.skill:hover{
background:rgba(255,255,255,0.15);
}



/* PROJECT */

.project{
background:rgba(255,255,255,0.05);
padding:35px;
border-radius:18px;
max-width:420px;
width:100%;
}

.project a{
display:inline-block;
margin-top:20px;
padding:12px 25px;
border-radius:30px;
background:linear-gradient(45deg,#00ffff,#ff00ff);
color:black;
text-decoration:none;
font-weight:600;
}



/* CONTACT */

.card{
background:rgba(255,255,255,0.05);
padding:30px;
border-radius:18px;
max-width:450px;
width:100%;
line-height:1.8;
}

.card a{
color:#00ffff;
text-decoration:none;
}

.card a:hover{
text-decoration:underline;
}



/* MOBILE */

@media(max-width:900px){

.navbar{
flex-direction:column;
gap:10px;
}

.navbar ul{
flex-wrap:wrap;
justify-content:center;
}

.panel{
padding-top:120px;
}

.about-grid{
grid-template-columns:1fr;
}

.skills{
grid-template-columns:repeat(2,1fr);
}

}